html {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

.App {
  width: 500px;
  margin: 0 auto;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.game-container {
  width: 260px;
  height: 260px;
  background-color: aquamarine;
  margin-top: 30px;
  padding: 10px;
  position: relative;
  background: #bbada0;
  border-radius: 6px;
}

.grid-container {
    position: absolute;
    z-index: 1;
}


.square {
  background: #eee4da;
  width: 57.5px;
  height: 57.5px;
  line-height: 58px;
  margin-bottom: 10px;
  margin-right: 10px;
  float: left;
  font-size: 35px;
  text-align: center;
    font-weight: bold;
}

.square-empty {
    background: rgba(238, 228, 218, 0.35);
  width: 57.5px;
  height: 57.5px;
  margin-bottom: 10px;
  margin-right: 10px;
  float: left;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
  }

.square-new {
    animation: appear 200ms ease 100ms;
    animation-fill-mode: backwards;
  }

@keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  }

    .square-merged {
      animation: pop 200ms ease 100ms;
      animation-fill-mode: backwards;
      z-index: 20;
    }

  .square.square-2 {
    background: #eee4da;
  }
  .square.square-4 {
    background: #ede0c8;
  }
  .square.square-8 {
    color: #f9f6f2;
    background: #f2b179;
  }
  .square.square-16 {
    color: #f9f6f2;
    background: #f59563; }
  .square.square-32 {
    color: #f9f6f2;
    background: #f67c5f; }
  .square.square-64 {
    color: #f9f6f2;
    background: #f65e3b; }
  .square.square-128 {
    color: #f9f6f2;
    background: #edcf72;
  }

  .hidden {
    display: none;
  }
