html {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

.App {
  width: 500px;
  margin: 0 auto;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.game-container {
  width: 260px;
  height: 260px;
  background-color: aquamarine;
  margin-top: 30px;
  padding: 10px;
  position: relative;
  background: #bbada0;
  border-radius: 6px;
}

.grid-container {
    position: absolute;
    z-index: 1;
}


.square {
  background: #eee4da;
  width: 57.5px;
  height: 57.5px;
  line-height: 58px;
  margin-bottom: 10px;
  margin-right: 10px;
  float: left;
  font-size: 35px;
  text-align: center;
    font-weight: bold;
}

.square-empty {
    background: rgba(238, 228, 218, 0.35);
  width: 57.5px;
  height: 57.5px;
  margin-bottom: 10px;
  margin-right: 10px;
  float: left;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
